*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}
header{
    background-color:#1b2727;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    
}
li{
    list-style: none;
    font-size: 14PX;
}
a{
    color: #7a9288;
    text-decoration: none;
}
.navbar{
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
    
    
}
.logo{
    font-size: 2rem;
    font-weight: bold;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 60px;
}
.nav-link{
    transition: 0.5s ease;
}
.nav-link:hover{
    color: #7a9288;
}
.hamburguer{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #7a9288;
    transition: all 0.3s ease-in-out;
}
@media (max-width:768px){
    .hamburguer{
        display: block;
    }
    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
     
    }
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg)
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color:  #3c5148;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
    
}
.container {
    background-image: linear-gradient(135deg, #3c5148 50%, #1b2727 50%);
    display: flex;
    align-items: center;
    height: 700px;
    width: 100%;
    justify-content: space-evenly;
}


  
  
  




  
.container-sobre{
    background-color: #3c5148;
    display: flex;
    align-items: center;
    height: 800px;
    width: 100%;
    justify-content:space-evenly;
}
.container .legenda img{
    width: 45px;
    margin: 20px;
}
.sobre-min .container-sobre .legenda-sobre img{
    width: 45px;
}
.container img {
    width: 450px;
 
}
.container-sobre img {
    width: 300px;
   margin: 100px;

}

.legenda h1{
    font-size: 70px;
    color: #b2c5b2  ;

    
}

.legenda h2{
    font-size: 40px;
    color: #1b2727  ;
}
.legenda p{
    font-size: 20px;
    padding: 10px;
    color: #6b8e4e ;
}
.legenda-sobre p{
    font-size: 20px;
    margin: 100px;
    color: #b2c5b2 ;
    
}
@media screen and  (max-width:768px){
    .container{
        width:100%;
        flex-direction: column-reverse;
        background-image: linear-gradient(135deg, #3c5148 75%, #1b2727 25%);
    }

}
@media screen and  (max-width:768px){
    .container-sobre{
        width:100%;
        flex-direction: column-reverse;
        
    }
    .legenda h1{
        font-size: 32px;
        
        
    }
    .legenda h2{
        font-size: 30px;
        
        
    }
    .legenda p{
        font-size: 15px;
        
        
        
        
    }
    .container img {
        width: 230px;
     
    }
    .legenda-sobre p{
        font-size: 16px;
        
        
    } 
    .container-sobre img {
        display: none;
       
    
    } 
    .sobre-min{
        height: 200px;
        
    }
    .contato h1{
        
        font-size: 20px;
       
    }
    .contato p{
       
        font-size:08px;
       
    }  
    .contato img{
        width: 15px;
        
        
    }
 
}

#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom:  1px solid rgba(0,0,0,0,0.5);
    background-color:#3c5148;
}
.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    

.blog-heading h3{
    font-size: 2.4rem;
    color: #1b2727 ;
    font-weight: 600;
    
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
    
    
    
}
.blog-box{
    width: 360px;
    background-color: #1b2727;
    margin: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;


}
.blog-box:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border: 1px solid #333;
  }
.blog-img{
    width: 100%;
    height: 200px; /* ajuste a altura aqui */
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;

}


.blog-text{
    padding: 10px;
    display: flex;
    flex-direction: column;
}


.blog-text span{
    color: #1b2727 ;
    font-size: 0.9rem;

}
.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #b2c5b2 ;
    margin-top: 20px;
}
.blog-text .blog-title:hover{
    
    transition: all ease 0.3s;
    
}
.blog-text p{
    color: #b2c5b2  ;
    font-size: 0.9rem;
    
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 12px 0px;
    
    
}
.blog-text a{
    color: #6b8e4e;
    margin: 20px;
}
.blog-text a:hover{
    color:#6b8e4e;
    transition: all ease 0.3s;
}
.contato{
    width: 100%;
    height: 250px;
    background-color:#b2c5b2;
    text-align: center;
    align-items: center;
    padding: 50px;
    
    
}
.contato img{
    width: 80px;
    padding: 20px;
    
}
    
.contato h1{
    
    font-size: 55px;
    color: #1b2727;
    margin-top: 100px;
    
}

.legenda-sobre h3{
    font-size: 40px;
    text-align: left;
    margin: 100px;
    
    
}
.sobre-min{
    width: 100%;
    height: auto;
}
.contato .linkedin{
    width: 60px;
}
.legenda-sobre h3 {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s ease-in-out;
  }
  
  .legenda-sobre p {
    opacity: 0;
    transform: translateX(100%);
    transition: all 1s ease-in-out;
  }
  
  .legenda-sobre.animar h3 {
    opacity: 1;
    transform: translateX(0);
  }
  
  .legenda-sobre.animar p {
    opacity: 1;
    transform: translateX(0);
  }
  

  .skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #1b2727;
}

.card {
  margin: 20px;
  padding: 20px;
  background-color: #3c5148;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.card img {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 50%;
}

.card h3 {
  font-size: 18px;
  margin: 10px;
  color: #b2c5b2;
}

.card p {
  font-size: 14px;
  margin: 10px;
  color: #b2c5b2;
}








